button {
    width: 7rem;
    background-color: rgba(0,255,153,1);
    color: white;
    border-radius: 20px;
    border:none;
}

input {
    appearance: none;  
    outline: 0;  
    border: 1px solid rgba(0, 0, 0, 0.4);  
    background-color: rgba(255, 255, 255, 0.2);  
    width: 15rem;  
    border-radius: 3px;  
    padding: 10px 15px;  
    margin: 0 auto 10px auto;  
    display: inline;  
    text-align: center;  
    font-size: 18px;  
    color: balck;  
    transition-duration: 0.25s;  
    font-weight: 300; 
}

input:hover {
    background-color: rgba(255,255,255,0.4);
}

input:focus {
    background-color: white;  
    width: 300px;  
    color: black;  
}