<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>任务管理</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="./css/style.css" />
        <link type="text/css" rel="stylesheet" href="./css/projectDetail.css" />
        <script type="text/javascript" src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="./js/http.js"></script>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
        <script src="https://unpkg.com/vuejs-datepicker"></script>
</head>
<body>
    <div class='container-fluid'>
        <div class='row page-title'>
            <div class='col pt-left'>
                <p class='pt-left'>项目开发管理系统</p>
            </div>
            <div class='col'>
                <p id='user' class='pt-right'>{{username}}&nbsp;&nbsp;<a href='#'>退出</a></p>
            </div>
        </div>
    </div>
    <div id='wrapper' class='container-fluid' style='background: linear-gradient(#9999FF 0%,#009DD9 100%);'>
        <br/>
        <div class='row' style='color: white;font-size: 2rem;'>
            <div class='col'></div>
            <div class='col'><a href='./teamManagement.html' style='color: white;text-decoration: none;'>团队</a></div>
            <div class='col'><a href='./teamSelection.html' style='color: #00FFCC;text-decoration: none;'>项目</a></div>
            <div class='col'>账户</div>
            <div class='col'></div>
            <div class='col'></div>
        </div>

        <div class="row">
        <div id='vueMission' class='container box'>
        
            <div class='row' >
                <div class='col-lg-2' style='background-color:#8999FB;'></div>
                <div class='col-lg-10' style="background-color:#BFCDFB; font-size: 2rem; color: #777;">
                    <a href="./projectDetail.html" style='color:white; text-decoration:none;'>
                    <p class='text-right'>{{projectname}}</p>
                    </a>
                </div>
            </div>
            <div class='row'>
                <h1 style='color: gray'>{{mission.name}}</h1>
            </div>
            <br>
            <div class='row'>
                <h2 style="color:grey">&nbsp&nbsp&nbsp&nbsp任务负责人</h2>
            </div>
           
            <div class='row'>
                    <div class='square'>
                        <div style='position:relative;top:20%;'><img src='./image/projectDetail/member.png' alt='member' /></div>
                        <div style='position:relative;top:30%;'>{{memberlist[0].userName}}</div>
                    </div>
            </div>
            <br>
        
            <div class='row'>
                    <h2 style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;任务成员</h2>
            </div>
            <div class='row'>
                    <div v-for='item in memberlist'>
                        <div v-if='item.id!=mission.uid'>
                        <div class='square' data-toggle="modal" data-target="#delMemModal" onclick="alertDelMemModal('item')" src='./image/projectDetail/add.png'>
                            <div style='position:relative;top:20%;'><img src='./image/projectDetail/member.png' alt='member' /></div>
                            <div style='position:relative;top:30%;'>{{item.userName}}</div>
                        </div>
                        </div>
                    </div>
                    <div class='square' style='border-style: dashed;'>
                        <div style='position:relative;top:35%;'><img data-toggle="modal" data-target="#addMemModal" src='./image/projectDetail/add.png' alt='add' /></div>
                    </div>
            </div>
            <br>
            <div class='row'>
                    <h2 style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;任务描述</h2>
            </div>
            <br>
            <div class="row">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mission.details}}</p>
            </div>
            <br>
            <div class="row">
                <h2 style="color:grey">&nbsp;&nbsp;&nbsp;&nbsp;截止时间</h2>
            </div>
            <br>
            <div class="row">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mission.endTime}}</p>    
            </div>
            <br>
            <div class="row">
                <div class='m-auto'>
                <button type="button" class='btn btn-success'>提交任务</button>    
                </div>
            </div>
            <br>
        
            
        </div>
        </div>
       
    </div>
 
</body>


<div class="modal fade" id="delMemModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id='delMemModal'>删除任务成员</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class='row' style='text-align: center;'>
                        <div class='col'>
                            <img src='./image/projectDetail/memberIcon.png' alt='头像' />
                        </div>
                </div>
                <div class='row' style='text-align: center;'>
                    <div class='col'>
                        <label for='username'><strong>用户名：</strong></label>
                            <div id='username'></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick=''>移除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMemModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">添加成员</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
            </div>
            <div class="modal-body">
                    <div class="form-group">
                            <label for="member">选择成员:</label>
                            <div style="padding: 0px 5rem 0px;">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <input id='userSelector' type="text" class="form-control">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    下拉菜单 
                                                    <span class="caret"></span>
                                                </button>
                                                <ul id='memList' class="dropdown-menu pull-right"></ul>
                                            </div><!-- /btn-group -->
                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                            </div>
                        </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick='submitMem()'>提交</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<script>
    var Token = getCookie("itpm-token");
    var userName = getCookie("itpm-userName");
    var userId = getCookie('itpm-userId');
    var groupId = getCookie('itpm-groupId');
    var projectId = getCookie('itpm-projectId');
    var URL = 'http://110.64.91.112:8081/api';
    var missionId=getCookie('missionId');
    var URL='http://110.64.91.112:8081/api';
    Vue.http.headers.common['Authorization']=Token;
    var vm = new Vue({
        el: '#user',
        data: {
            username: userName
        }
    })
    $(document).ready(function() {
        //$('#wrapper').css('height',screen.availHeight.toString());
        getMission(missionId);
    })
    function getMission(missionId){
        var vm1= new Vue({
            el:"#vueMission",
            data:{
                mission:"",
                memberlist:'',
                projectname:''
            
            },
            methods:{
                post:function(){
                    this.$http.get(URL+'/missions/'+missionId.toString()).then(function(res){
                        this.mission=res.data.data;
                    },function(res){
                        alert('Err:'+res.data.message);
                    })
                    this.$http.get(URL+'/missions/'+missionId.toString()+'/users').then(function(res){
                        this.memberlist=res.data.data;
                    },function(res){
                        alert('Err:'+res.data.message);
                    })
                    this.$http.get(URL+'/projects/'+projectId.toString()).then(function(res){
                        this.projectname=res.data.data.name;
                    },function(res){
                        alert('Err:'+res.data.message);
                    })
                },
                getId:function(index){
                    return 'task'+index.toString();
                }  
            
            },

            components:{
                vuejsDatepicker
            }
        })

       vm1.post(); 
    }
    function alertMem(t){
        len = t.length;
        for(i=0;i<len;++i)
        {
            $('#memList').append("<li onclick=\"setUserSelector('"+t[i].name.toString()+"')\">"+t[i].name.toString()+'</li>');
        }
    }
    function setUserSelector(str)
    {
        $('#userSelector').val(str);
    }
    function submitMission(){

    }
    function delMem(str)
    {

    }
    

</script>
</html>