<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <title>项目详情</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="./css/style.css" />
        <link type="text/css" rel="stylesheet" href="./css/projectDetail.css" />
        <script type="text/javascript" src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="./js/http.js"></script>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
        <script src="https://unpkg.com/vuejs-datepicker"></script>
</head>
<body>
<div class='container-fluid'>
    <div class='row page-title'>
        <div class='col pt-left'>
            <p class='pt-left'>项目开发管理系统</p>
        </div>
        <div class='col'>
            <p id='user' class='pt-right'>{{username}}&nbsp;&nbsp;<a href='login.html'>退出</a></p>
        </div>
    </div>
</div>
<div id='wrapper' class='container-fluid' style='background: linear-gradient(#9999FF 0%,#009DD9 100%);'>
    <br/>
    <div class='row' style='color: white;font-size: 2rem;'>
        <div class='col'></div>
        <div class='col'><a href='./teamManagement.html' style='color: white;text-decoration: none;'>团队</a></div>
        <div class='col'><a href='./teamSelection.html' style='color: #00FFCC;text-decoration: none;'>项目</a></div>
        <div class='col'><a href='./accountManagement.html' style='color: white;text-decoration: none;'>账户</a></div>
        <div class='col'></div>
        <div class='col'></div>
    </div>
    <div class='row'>
        <div id='vueProject' class='container box'>
            <!-- 任务 -->
            <br/>
            <div class='row' style='font-size: 1.5rem;'>
                <div class='col'><strong>任务</strong></div>
            </div>
            <div class='row'>
                <div v-for='item in missionList'>
                    <div v-bind:id='getId(item.id)' class='square' onclick='jumpTo(this)'>
                        <div style='position:relative;top:20%;'><img src='./image/projectDetail/task.png' alt='task' /></div>
                        <div style='position:relative;top:40%;'>{{item.name}}</div>
                    </div>
                </div>
                <div class='square' style='border-style: dashed;'>
                    <div style='position:relative;top:35%;'><img data-toggle="modal" data-target="#addTaskModal" src='./image/projectDetail/add.png' alt='add' /></div>
                </div>
            </div>
            <!-- 成员 -->
            <br/>
            <div class='row' style='font-size: 1.5rem;'>
                <div class='col'><strong>成员</strong></div>
            </div>
            <div class='row'>
                <div v-for='item in memberList'>
                    <div v-bind:id='item.name' class='square' data-toggle="modal" data-target="#delMemModal" onclick="alertDelMemModal(this)" src='./image/projectDetail/add.png'>
                        <div style='position:relative;top:20%;'><img src='./image/projectDetail/member.png' alt='member' /></div>
                        <div style='position:relative;top:30%;'>{{item.name}}</div>
                    </div>
                </div>
                <div class='square' style='border-style: dashed;'>
                    <div style='position:relative;top:35%;'><img data-toggle="modal" data-target="#addMemModal" src='./image/projectDetail/add.png' alt='add' /></div>
                </div>
            </div>
            <!-- 讨论 -->
            <br/>
            <div class='row' style='font-size: 1.5rem;'>
                <div class='col'><strong>讨论</strong></div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div class='disscussBox'>
                        {{project.comments}}
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col' style='text-align: right;'>
                    <img data-toggle="modal" data-target="#addDissModal" src='./image/projectDetail/add.png' alt='add' />
                </div>
            </div>
            <!-- 文件 -->
            <div class='row' style='font-size: 1.5rem;'>
                <div class='col'><strong>文件</strong></div>
            </div>
            <!-- 资源 -->
            <br/>
            <div class='row' style='font-size: 1.5rem;'>
                <div class='col'><strong>资源</strong>&nbsp;&nbsp;<a href='./resourceManagement.html' alt='查看详情'>查看详情</a></div>
            </div>
            <!-- 进度管理 -->
            <br/>
            <div class='row' style='font-size: 1.5rem;'>
                <div class='col'><strong>进度管理</strong>&nbsp;&nbsp;<a href='./processManagement.html' alt='查看详情'>查看详情</a></div>
            </div>
            <!-- <div class='row' style='font-size: 1.5rem;'>
                <div class='col'>共计有{{project.progress.total}}项任务，其中过期{{project.progress.out}}项，已完成{{project.progress.completed}}项。</div>
            </div> -->
            <br/>
            <!-- addTaskModal -->
            <div class="modal fade" id="addTaskModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">创建任务</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    
                        <!-- 模态框主体 -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="taskName">任务名:</label>
                                <input id='taskName' type="text" class="form-control" style='width:50%;display:inline;' placeholder="taskName" /><br/>
                                <label for='startDate'>开始日期：</label>
                                <vuejs-datepicker id='startDate' placeholder='choose start date'></vuejs-datepicker>
                                <label for='endDate'>结束日期：</label>
                                <vuejs-datepicker id='endDate' placeholder='choose end date'></vuejs-datepicker><br/>
                                <label for="respseName">任务负责人:</label>
                                <input id='respName' type="text" class="form-control" style='width:50%;display:inline;' placeholder="respName" /><br/>
                                <label for='taskDescription'>任务详情：</label><br/>
                                <textarea id='taskDescription' rows='5' cols='45'></textarea>
                            </div>
                        </div>
                    
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick='addNewTask()'>提交</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>
</body>
<div class="modal fade" id="addDissModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
        <!-- 模态框头部 -->
        <div class="modal-header">
            <h4 class="modal-title">发表讨论</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    
        <!-- 模态框主体 -->
        <div class="modal-body">
            <div class="form-group">
                <label for="comment">内容:</label>
                <textarea id='dissContent' class="form-control" rows="5"></textarea>
            </div>
        </div>
    
        <!-- 模态框底部 -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick='submitDiss()'>发表</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
    
        </div>
    </div>
</div>
<div class="modal fade" id="addMemModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
        <!-- 模态框头部 -->
        <div class="modal-header">
            <h4 class="modal-title">添加成员</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    
        <!-- 模态框主体 -->
        <div class="modal-body">
            <div class="form-group">
                <label for="member">选择成员:</label>
                <div style="padding: 0px 5rem 0px;">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input id='userSelector' type="text" class="form-control">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        下拉菜单 
                                        <span class="caret"></span>
                                    </button>
                                    <ul id='memList' class="dropdown-menu pull-right"></ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    
        <!-- 模态框底部 -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick='addMem()'>提交</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
    
        </div>
    </div>
</div>
<div class="modal fade" id="delMemModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
        <!-- 模态框头部 -->
        <div class="modal-header">
            <h4 class="modal-title">成员信息</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    
        <!-- 模态框主体 -->
        <div class="modal-body">
            <div class="form-group">
                <div class='row' style='text-align: center;'>
                    <div class='col'>
                        <img src='./image/projectDetail/memberIcon.png' alt='头像' />
                    </div>
                </div>
                <div class='row' style='text-align: center;'>
                    <div class='col'>
                        <label for='username'><strong>用户名：</strong></label>
                        <section id='username'></section>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- 模态框底部 -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick='delMem()'>移除</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
    
        </div>
    </div>
</div>
<script>
    var Token = getCookie("itpm-token");
    var userName = getCookie("itpm-userName");
    var userId = getCookie('itpm-userId');
    var groupId = getCookie('itpm-groupId');
    var projectId = getCookie('itpm-projectId');
    var URL = 'http://110.64.91.112:8081/api';
    Vue.http.headers.common['Authorization'] = Token;
    
    var usr = new Vue({
        el: '#user',
        data: {
            username: userName
        }
    })

    $(document).ready(function() {
        //$('#wrapper').css('height',screen.availHeight.toString());
        getProject(projectId);
    })

    function getProject(projectId) {
        var p = new Vue ({
            el: '#vueProject',
            data: {
                project: '',
                missionList: [],
                memberList: []
            },
            methods:{
                init:function(){
                    //project removed
                    // this.$http.get(URL+'/projects/'+projectId.toString()).then(function(res){
                    //     this.project = res.data.data;
                    // })
                    //missionList
                    this.$http.get(URL+'/missions',{params:{uid: userId,gid: groupId,pid: projectId}}).then(function(res){//List
                        this.missionList = res.data.data;
                    },function(res){
                        alert('Err: '+res.data.message);
                    })
                    //memberList
                    // this.$http.get(URL+'/projects').then(function(res){
                    //     this.project = res.data;
                    // })
                },
                getId:function(index){
                    return 'task'+index.toString();
                }
            },
            components: {
                vuejsDatepicker
            }
        })
        p.init();
        alertMem();
    }

    function alertMem(){
        var t=[];
        $.ajax({
            method: "GET",
            url: URL+'/groups/'+groupId.toString()+'/users',
            dataType: "json",
            beforeSend: function(res){
                res.setRequestHeader("Authorization",Token);
            },
            success: function(res){
                t = res.data;
                alert(res.data);
                len = t.length;
                for(i=0;i<len;++i)
                {
                    $('#memList').append("<li onclick=\"setUserSelector('"+t[i].id.toString()+"')\">"+t[i].name.toString()+'</li>');
                }
            },
            error: function(res){
                alert(res.message);
            }
        })
    }

    function submitDiss(){
        text=$('#dissContent').val();
        $.post('./test/addDiss.php',{cotent: text},function(res){
            alert(res);
        },"json");
    }

    function addNewTask(){
        name=$('#taskName').val();
        startDate=normalizeDate($('#startDate').val());
        endDate=normalizeDate($('#endDate').val());
        respsename=$('#respseName').val();
        description=$('#taskDescription').val();

        $.ajax({
            method: "POST",
            url: URL+"/missions",
            data: {
                gid: groupId,
                pid: projectId,
                uid: userId,
                name: name,
                details: description,
                startTime: startDate,
                endTime: endDate
            },
            dataType: "json",
            beforeSend: function(res){
                res.setRequestHeader("Authorization",Token);
            },
            success: function(res){
                alert('Success!');
            },
            error: function(res){
                alert(res.message);
            }
        })    
    }
    
    function setUserSelector(str)
    {
        $('#userSelector').val(str);
    }

    function delMem()
    {

    }

    function addMem(){
        name=$('#userSelector');
        $.post('./test/addMem.php',{username: name},function(res){
            if(res.status=='ok')
            {
                alert('Success!');
            } else {
                alert('Err: '+res.msg);
            }
        },"json")
    }

    function alertDelMemModal(item)
    {
        $('#username').text(item.id);
    }

    function name2id(value)
    {
        return value;
    }

    function jumpTo(res){
        id = res.id.substr(4);
        setCookie('missionId',id);
        window.location.href = 'missionManagement.html';
    }
</script>
</html>