<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <title>团队</title>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        <link type="text/css" rel="stylesheet" href="css/teamManagement.css" />
        <script type="text/javascript" src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="./js/http.js"></script>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
<div class='container-fluid'>
    <div class='row page-title'>
        <div class='col pt-left'>
            <p class='pt-left'>项目开发管理系统</p>
        </div>
        <div class='col'>
            <p id='user' class='pt-right'>{{username}}&nbsp;&nbsp;<a href='#'>退出</a></p>
        </div>
    </div>
</div>
<div id='wrapper' class='container-fluid' style='background: linear-gradient(#9999FF 0%,#009DD9 100%);'>
    <br/>
    <div class='row' style='color: white;font-size: 2rem;'>
        <div class='col'></div>
        <div class='col'><a href='./teamManagement.html' style='color: #00FFCC;text-decoration: none;'>团队</a></div>
        <div class='col'><a href='././teamSelection.html' style='color: white;text-decoration: none;'>项目</a></div>
        <div class='col'><a href='./accountManagement.html' style='color: white;text-decoration: none;'>账户</a></div>
        <div class='col'></div>
        <div class='col'></div>
    </div>
    <div class='row'>
        <div id='vueTeamList' class='container box'>
            <div v-for='(item,index) in teamList'>
                <br/>
                <div class='row'>
                    <div class='col'><div class='teambox'>
                        <div class='container'>
                            <div class='row'>
                                <br/><br/>
                                <div class='col' data-toggle='collapse' v-bind:data-target="getId('#showMem',index)" style='font-size: 1.5rem;'><p>{{item.name}}<font style='color: #CCCCCC;'>(共{{item.memberCnt}}人)</font></p></div>
                                <div class='col' data-toggle='collapse' v-bind:data-target="getId('#showMem',index)"></div>
                                <div class='col' style='float: right;text-align: right;'>
                                    <img id='addMem' v-if='item.leaderFlag=="true"' data-toggle="modal" data-target="#addMemModal" src='./image/teamManagement/add.png' alt='addMem' />&nbsp;
                                    <img id='delTeam' data-toggle="modal" data-target="#delTeamModal" src='./image/teamManagement/del.png' alt='delTeam' />
                                    <div class="modal fade" id="delTeamModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <div class="modal-header">
                                                    <h4 class="modal-title">退出队伍</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                            
                                                <div class="modal-body" style='text-align: center;'>
                                                    是否确定退出队伍？
                                                </div>
                                            
                                                <div class="modal-footer">
                                                    <button type="button" class='btn btn-danger' @click="delTeam(item)">确定</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                </div>
                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="addMemModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                        
                                                <div class="modal-header">
                                                    <h4 class="modal-title">增加成员</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                            
                                                <div class="modal-body" style='text-align: center;'>
                                                    <input id='addedUsername' type="text" class="form-control" style='width:50%;display:inline;' placeholder="添加的用户名" />
                                                    <img src='./image/teamManagement/search.png' alt='search' onclick='doSearch()'/>
                                                    <div id='searchResult'></div>
                                                </div>
                                            
                                                <div class="modal-footer">
                                                    <button type='button' class='btn btn-success' onclick='addNewMem(item)'>增加</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                </div>
                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div v-bind:id="getId('showMem',index)" class='collapse container' style='font-size:1.5rem;'>
                                    <div v-for="member in item.mems">
                                        <div class='row'>
                                            <div class='col'>
                                                <div class='teambox'>
                                                    <div class='container'>
                                                        <div class='row'>
                                                            <div class='col'>
                                                                <div v-if='item.uid==member.id' style='height:2rem;width:2rem;border-radius:100%;background-color:#f05654;float:left;'></div>
                                                                <div v-else style='height:2rem;width:2rem;border-radius:100%;background-color:#ffc64b;float:left;'></div>
                                                                {{member.userName}}
                                                            </div>
                                                            <div class='col'>{{member.phone}}</div>
                                                            <div class='col' style='text-align: right;'>
                                                                <img v-if='item.leaderFlag=="true"' id='delMem' data-toggle="modal" data-target="#delMemModal" src='./image/teamManagement/del.png' alt='delMem' style='height:2rem;width:2rem;'/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="delMemModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                            
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">移除成员</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                
                                                    <div class="modal-body" style='text-align: center;'>
                                                        <p style='font-size:1.2rem;'>是否移除该成员？</p>
                                                    </div>
                                                
                                                    <div class="modal-footer">
                                                        <button type="button" class='btn btn-danger' @click="delMem(item,member)">确定</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                    </div>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class='teambox' style='border-style:dashed;'> 
            <div class='container'>
                <div class='row' data-toggle="modal" data-target="#addNewTeamModal">
                    <div class='col'></div>
                    <div class='col' style='display:inline;text-align: center;'>
                        <img src='./image/teamManagement/add.png' style='height:2.5rem;width:2.5rem;' alt='增加新团队' />
                        增加新团队
                    </div>
                    <div class='col'></div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<div class="modal fade" id="addNewTeamModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <div class="modal-header">
                    <h4 class="modal-title">增加新团队</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <label for='teamName'>团队名:</label>
                    <input id='teamName' type="text" class="form-control" style='width:50%;display:inline;' placeholder="新团队名" /><br/>
                    <label for='teamDescription'>描述：</label><br/>
                    <textarea id='taskDescription' rows='5' cols='45'></textarea>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class='btn btn-success' onclick="addNewTeam()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
        
            </div>
        </div>
    </div>
</body>
<script>
    //119.23.76.43/api/groups
    var Token = getCookie("itpmToken");
    Vue.http.headers.common['Authorization'] = Token;

    $(document).ready(function() {
        $('#wrapper').css('height',screen.availHeight.toString());
        getTeamList(123);
    })

    var vm = new Vue ({
        el: '#user',
        data: {
            username: 'dadagum'
        }
    })

    function getTeamList(srcUserId) {
        var tl = new Vue ({
            el: '#vueTeamList',
            data: {
                teamList: []
            },
            methods:{
                post:function(){
                    this.$http.post('./test/getTeamList.php',{userId: srcUserId},{emulateJSON: true}).then(function(res){
                        this.teamList = res.body.teamList;
                    },function(res){
                        console.log(res.status);
                    })
                },
                getId:function(str,index){
                    return str+index.toString();
                },
                delTeam:function(team){
                    this.$http.post('http://119.23.76.43/api/groups/'+team.id.toString(),{enlateJSON: true}).then(function(res){
                        alert('Success!');
                    },function(res){
                        alert('Err:' + res.status);
                    })
                },
                delMem:function(team,member){
                    this.$http.post('http://119.23.76.43/api/groups/'+team.id.toString()+'/users/'+member.id.toString(),{enlateJSON: true}).then(function(res){
                        alert('Success!');
                    },function(res){
                        alert('Err:' + res.status);
                    })
                }
            }
        })
        tl.post();
    }

    function doSearch()
    {
        alert('暂不可用！');
        name = $('#addedUsername').val();
        $.post('./test/searchUser.php',{name: name},function(res){
            if(res.status != "ok")
            {
                $('#searchResult').empty();
                $('#searchResult').append('没找到相关用户！');
            } else {
                $('#searchResult').empty();
                $.each(res.users,function(index,item){
                    $('#searchResult').append("<div onclick=\"$('#addedUsername').val('" + item.name + "')\">" + item.name + "</div>");
                })
            }
        },"json");
    }

    function addNewTeam(){
        name = $('#teamName').val();
        description = $('#teamDescription').val();
        $.ajax({
            method: "POST",
            url: "http://119.23.76.43/api/groups",
            data: {
                name: name,
                uid: currUser 
            },
            dataType: "json",
            beforeSend: function(res){
                res.setRequestHeader("Authorization",Token);
            },
            success: function(res){
                if(res.status =='ok')
                {
                    alert('Success!');
                } else {
                    alert(res.message);
                }
            }
        })
    }

    function addNewMem(item){
        name = $('#addedUsername').val();

        $.ajax({
            method: "POST",
            url: "http://119.23.76.43/api/groups/"+item.id.toString()+"users",
            data: {
                name: name//uid
            },
            dataType: "json",
            beforeSend: function(res){
                res.setRequestHeader("Authorization",Token);
            },
            success: function(res){
                if(res.status =='ok')
                {
                    alert('Success!');
                } else {
                    alert(res.message);
                }
            }
        })
    }
</script>
</html>